
<div class="row">
  <section class="main col-md-9">
    <article>
    <h2>About</h2>
    <p>Hello, my name is Amy.</p>
    <p>I'm currently studying computer programming in Seneca college.</p>
    <p>As an outdoor person, I like to spend my spare time hiking, camping, and swimming! But sometimes, I'd like to stay at home and be a couch potato.</p>
    <p>Mostly when the weather getting freeze, I'll spend my all day listen to the music, play the video game, and cooking.</p>
    <p>After I graduate, I hope I can become a software engineer as my expect. However, for now, my goal is survive through Toronto's winter.</p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Hey, stay tuned! I'm sure I will update soon:)</p>
  </aside>
</div>
    